@import './Colors.scss';

.grid-header {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 10px;

	.target-word {
		color: $grid-gold;
	}
}

.instructions {
	text-align: center;
}

.progress {
	margin-top: 5px;
}
