.grid-section {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 600px;
  width: 600px;

  .grid-heading {
    margin-top: 10px;
  }

  .character-grid {
    border: 5px solid blue;
    border-spacing: 0px;
    height: 80%;
    margin-top: 20px;
    width: 80%;

    .grid-cell {
      border: 1px solid black;
      text-align: center;
      -webkit-user-select: none;
    }

    .grid-cell.highlighted {
      background-color: lightblue;
    }

    .grid-cell.complete {
      background-color: goldenrod;
    }
  }
}
