@import './Colors.scss';

.grid-section {
	align-items: center;
	display: flex;
	flex-direction: column;
	width: 500px;
	margin-bottom: 20px;

	.grid-container {
		display: flex;
		justify-content: center;
		margin-top: 20px;
	}

	.character-grid {
		border: 10px solid $grid-blue;
		border-spacing: 0px;

		.grid-cell {
			background-color: $grid-gray;
			height: 50px;
			text-align: center;
			-webkit-box-shadow: inset 1px 1px 1px rgba(255, 255, 255, 0.637),
				inset -1px -1px 1px rgba(56, 29, 29, 0.125);
			-webkit-user-select: none;
			width: 50px;
		}

		.grid-cell.highlighted {
			color: $pure-white;

			.character-container {
				align-items: center;
				background-color: $grid-blue;
				border-radius: 50%;
				display: flex;
				height: 100%;
				justify-content: center;
			}
		}

		.grid-cell.complete {
			background-color: $grid-gold;
			color: $pure-white;

			.character-container {
				background-color: $grid-gold;
				border-radius: 100%;
			}
		}
	}

	.hidden {
		visibility: hidden;
	}

	.button-area {
		margin-top: 10px;
	}

	.continue-button {
		margin: 0 8px;
	}

	.confetti {
		font-size: 22px;
	}
}
